<div class="container">
    <div class="float-left">
        <a routerLink="../../home">Back</a>
    </div>
    <div class="text-right">
        <a routerLink="../../home/template">Next</a>
    </div>
    <div class="text-center">
            <button class="btn btn-success" (click)="getHome()">Home</button>
            <button class="btn btn-success" (click)="reload()">Reload</button>
    </div>
    <div class="card">
        <div class="card-header bg-primary text-white">
            Reactive Form Validation
        </div>
        <div class="card-body">
            <form (ngSubmit)="onSave()" [formGroup]="loginForm">
                <div class="form-group">
                    <label>First Name</label>
                    <input class="form-control" type="text" formControlName="firstName" />
                    <div *ngIf="submitted && loginForm.controls.firstName.errors.required" class="invalid-feedback d-block">
                        First Name is required
                    </div>
                </div>
                <div class="form-group">
                    <label>Last Name</label>
                    <input class="form-control" type="text" formControlName="lastName" />
                </div>
                <div *ngIf="submitted && loginForm.controls.lastName.invalid" class="invalid-feedback d-block">
                        Last Name is required
                    </div>
                    <div class="form-group">
                    <label>Contact</label>
                    <input class="form-control" type="text" formControlName="contact" />
                </div>
                <div *ngIf="submitted && loginForm.controls.contact.invalid" class="invalid-feedback d-block">
                        Contact is required
                    </div>
    
                <div class="form-group">
                    <label>E Mail</label>
                    <input class="form-control" type="text" formControlName="email" />
                </div>
                <div *ngIf="submitted && loginForm.controls.email.invalid" class="invalid-feedback d-block">
                        Email is required
                    </div>
    
                <div class="form-group">
                    <label>City</label>
                    <input class="form-control" type="text" formControlName="city" />
                </div>
                <div *ngIf="submitted && loginForm.controls.city.invalid" class="invalid-feedback d-block">
                        City is required
                    </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>